REACT_APP_BASE_URL = "Link of the langchain app"

CHROMA_DIR = "vectoredb directory path"
# OLLAMA_LLM_ENDPOINT and OLLAMA_EMBEDDINGS_ENDPOINT are set to default values
OLLAMA_LLM_ENDPOINT = "http://localhost:11434/"
OLLAMA_EMBEDDINGS_ENDPOINT =  "http://localhost:11434/"

 