langchain==0.3.11
langchain-core==0.3.44
langchain-community==0.3.8
langchain-openai==0.2.10
qdrant_client==1.12.1
boto3==1.35.70
python-dotenv==1.0.1

IPython==8.29.0
fastapi==0.115.5
uvicorn==0.32.1
python_multipart==0.0.17


beautifulsoup4==4.12.3

langchain_ollama==0.2.3
chromadb